#navTitle {
	font-size: 25px;
}

.container {
        background-image: url('public/assets/images/article.jpg');
        opacity: 50%;
        width: 100%;
        height: 1600px;
}

.jumbotron{
	height: 400px;
	text-align: center;
}

.title {
	font-size: 25px;
	color: white;
}

.title:hover{
	color: red;
}

.saved-buttons{
	float: right;
	margin-right: 10px;
}
#saveButton{
	float: right;
}

